<h1>Lista de productos</h1>

<table>
  <thead>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</div>