body {
    font-family: Arial, sans-serif;
    background-color: #060101;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    box-sizing: border-box;
    position: relative;  /* Para posicionar los elementos hijos relativos a este formulario */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #070101;
    border: 3px solid #15e019;
    border-radius: 4px;
    color: #15e019;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #15e019;  /* Fondo verde al pasar el cursor */
    color: #fff; /* Texto blanco al pasar el cursor */
}

/* Ajuste de la posición del texto */
label {
    position: absolute;
    left: 0;
    top: -20px;  /* Colocar el texto 20px arriba de los campos de entrada */
}